.App-header {
    display: flex;
  
  }
  
  .App-header img {
    width: 15%;
    height: 15%;
  
  }
  
  .App-header h1 {
  
    margin-top: 5rem;
    color: rgb(226, 67, 67);
  }
  
  .App-body {
    height: 23rem;
    border-top: 3px solid rgb(226, 67, 67);
    border-bottom: 3px solid rgb(226, 67, 67);
  }
  
  .App-body p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2rem;
    margin-top: 3rem;
  }
  
  footer p {
    font-style: italic;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  @media screen and (max-width:760px) {
    .App-header img {
      width: 25%;
      height: 25%;
  
    }
  
    .App-header h1 {
      margin-left: 0;
      margin-top: 4rem;
  
    }
  
    .App-body {
      height: 23rem;
    }
  }
  
  @media screen and (max-width:500px) {
    .App-header h1 {
      margin-left: 0;
      margin-top: 2rem;
  
    }
  
    .App-body {
      height: 27rem;
    }
  
  }